<!-- sidebar-links -->
<ul class="sidebar-links">
  <li><a href="/collections/all"><span class="link-heading">shop</span> <span class="link-description">personalizable items</span></a></li>
  <li><a href="/collections/custom"><span class="link-heading">create</span> <span class="link-description">custom-designed goods</span></a></li>
</ul>
<!-- instagram-box -->
<a href="http://instagram.com/lupaandpepi/" target="_blank">
  <div class="instagram-box">
    <div id="iframe-wrapper">
      <div id="iframe-blocker"></div>
      <iframe class="instagram-widget" src="//snapwidget.com/in/?u=bHVwYWFuZHBlcGl8aW58Mjc1fDF8MXx8bm98MHxub25lfG9uU3RhcnR8bm8=&v=4614" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:275px; height:275px"></iframe>
    </div>
  </div>
 </a> 

 <!-- twitter-box -->
 {% include 'twitter-feed' %}

 <!-- collaborate link -->
<div class = "collab-box">
  <p>I love to collaborate with other creatives! Tell me about your upcoming project.</p>
  <img class = "collab-arrow" src = "//cdn.shopify.com/s/files/1/0420/0513/files/arrow.png?8717">
  <a class="button" href="/pages/contact?design_theme_id=7612169">get in touch</a>
</div>

<!-- newsletter-signup -->
{% include 'mailchimp-signup' %}

<!-- category-links -->
<!-- {% include 'blog-category-dropdown' %} -->

<!-- fine print -->
<div class="fine-print">
  <div class = "pic-wrapper">
    <img src = "//cdn.shopify.com/s/files/1/0420/0513/files/finePrint.png?3147">
  </div>
  <p>Pretty please give credit where credit is due. Unless otherwise noted, content and images contained on this blog and website are property of Lupa &amp; Pepi. If you would like to share something found on Lupa &amp; Pepi (layouts, photographs, ideas or designs), please do so (grazie!) and be sure to include a proper credit and link to the original post.</p>
  <p>Also, we love when everyone gets along. Any comments (e.g. general spam, offensive comments, rude language, self-promotional spam, items unrelated to the post) that are deemed inappropriate to myself or other readers will be deleted. Buon divertimento!</p>
</div>
