

.portfolio-box{
  max-width: 200px;
  margin: 0 auto;
  display: block;
  color: $dark-grey;
  &:hover{
    color: $orange;
  }
}
.portfolio-image{
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

.portfolio-description {
  min-height: 50px;
}