<div id="{{ page.handle }}" class="page row">

  <div class="page-content span8">
    {{ page.content }}
  </div>

  <!-- sidebar -->
  <div class="span4">
    {% include 'sidebar' %}
  </div>
  
</div>