<div id="{{ page.handle }}" class="page row">
  <div class="page-content span8">
    <div class="faq clearfix">
      <p class="faq-category">
        Orders From Our Online Shop
      </p>
      <ul class = "toc-questions">
        <li>
          <a class="faq-question" href="/pages/faq#question1">Will I receive a proof?</a>
        </li>
          <li>
          <a class="faq-question" href="/pages/faq#question2">I received my proof and would like to make a change, is that ok?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question3">I’ve approved my proof but would like to make another change, is that ok?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question4">Does Lupa &amp; Pepi proofread?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question5">How much can I customize the design of something in Lupa &amp; Pepi’s store?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question6">Can I add items to the ready-made invitation suites and papergoods in your shop?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question7">When will my order be shipped?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question8">I’m in a rush, can I still order invites?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question9">Can I add a gift note or gift wrap to my order?</a>
        </li>
      </ul>
      <p class="faq-category">
        Custom Design Orders
      </p>
      <ul class = "toc-questions">
        <li>
          <a class="faq-question" href="/pages/faq#question10">How does the custom design process work?</a>
        </li>
          <li>
          <a class="faq-question" href="/pages/faq#question11">I’ve had my initial consultation meeting with Lupa &amp; Pepi. What’s next?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question12">Will I receive a proof?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question13">I’ve received the last proof included in the custom design process but I would like to make further changes, can I do that?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question14">I’ve approved my proof but would like to make another change, is that ok?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question15">When will my custom design ship?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question16">I’d like to collaborate with Lupa &amp; Pepi on a custom design but have a limited timeframe. Can we still make this happen?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question17">Where’s Lupa &amp; Pepi’s studio located? Can we meet in person?</a>
        </li>
      </ul>
      <p class="faq-category">
        Wedding Invitation Etiquette
      </p>
      <ul class = "toc-questions">
        <li>
          <a class="faq-question" href="/pages/faq#question18">When should I send save the dates?</a>
        </li>
          <li>
          <a class="faq-question" href="/pages/faq#question19">What information should I include on my save the date?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question20">When should I send my wedding invitations?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question21">What information should I include on my wedding invitation?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question22">How many invitations should I order?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question23">What is the proper way to address the envelopes for my wedding invitations?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question24">How much postage will my invitation suites need?</a>
        </li>
      </ul>
      <p class="faq-category">
        Printing
      </p>
      <ul class = "toc-questions">
        <li>
          <a class="faq-question" href="/pages/faq#question25">What type of printing options do you offer?</a>
        </li>
          <li>
          <a class="faq-question" href="/pages/faq#question26">Do you print return addresses and/or mailing addresses on envelopes?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question27">Do you offer calligraphy?</a>
        </li>
      </ul>
      <p class="faq-category">
        File Requirements
      </p>
      <ul class = "toc-questions">
        <li>
          <a class="faq-question" href="/pages/faq#question28">What type of file do you require for photos?</a>
        </li>
          <li>
          <a class="faq-question" href="/pages/faq#question29">How should I set up my mailing address file?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question30">How should I set up my escort card file?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question31">How should I set up my table number file?</a>
        </li>
      </ul>
      <p class="faq-category">
        Payment
      </p>
      <ul class = "toc-questions">
        <li>
          <a class="faq-question" href="/pages/faq#question32">What type of credit cards do you accept?</a>
        </li>
          <li>
          <a class="faq-question" href="/pages/faq#question33">How do you process payment for a custom order?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question34">Do you charge sales tax?</a>
        </li>
      </ul>
      <p class="faq-category">
        Shipping
      </p>
      <ul class = "toc-questions">
        <li>
          <a class="faq-question" href="/pages/faq#question35">What will shipping cost?</a>
        </li>
          <li>
          <a class="faq-question" href="/pages/faq#question36">How quickly will my order ship? </a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question37">How long will it take to receive my order?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question38">Do you ship to P.O. Boxes?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question39">Do you ship internationally?</a>
        </li>
      </ul>
      <p class="faq-category">
        Cancellations, Returns &amp; Exchanges
      </p>
      <ul class = "toc-questions">
        <li>
          <a class="faq-question" href="/pages/faq#question40">I made a mistake when placing my order in your online shop… help!</a>
        </li>
          <li>
          <a class="faq-question" href="/pages/faq#question41">I need to cancel my order, can I do that?</a>
        </li>
        <li>
          <a class="faq-question" href="/pages/faq#question42">What is your return policy?</a>
        </li>
      </ul>

      <div class="faq-body">
        <p class="faq-category">
          ORDERS FROM OUR ONLINE SHOP
        </p>
        <p class="faq-question" id="question1">
          Will I receive a proof?
        </p>
        <p class = "faq-answer">
          Yes! If you ordered a personalizable item from our online shop, you’ll receive a proof within 24-48 hours! Your order will not go print without proof approval. If, however, your order does not require anything to be personalized, no proof is required and your item will ship within 3-5 business days. If you’re working with us on a completely custom design, please refer to detailed info regarding “Custom Design Orders” (below).
        </p>
        <p class="faq-question" id="question2">
          I received my proof and would like to make a change, is that ok?
        </p>
        <p class = "faq-answer">
          Sure! We like to make sure the I’s are dotted and T’s are crossed! Reply to the email in which your proof was sent and tell us the change that you would like. Please be as specific as possible. If you placed the order via our shop and the error is an oversight on our part, we’ll make the change gratis! If, however, the information you’ve provided us has changed, a $10 fee will be incurred for each additional proof. If you’re working with us on a fully custom design (i.e. didn’t place your order via our shop), please refer to detailed info regarding “Custom Design Orders” (below). 
        </p>
        <p class="faq-question" id="question3">
          I’ve approved my proof but would like to make another change, is that ok?
        </p>
        <p class = "faq-answer">
          Unfortunately, no. Upon receiving an approved proof, your order is released into print production. Please review your proof very carefully before approving it. 
        </p>
        <p class="faq-question" id="question4">
          Does Lupa &amp; Pepi proofread?
        </p>
        <p class = "faq-answer">
          While we may occasionally catch a mistake, it is your responsibility to very carefully review your proof to be certain there are no misspellings or missing information. 
        </p>
        <p class="faq-question" id="question5">
          How much can I customize the design of something in Lupa &amp; Pepi’s store?
        </p>
        <p class = "faq-answer">
          We’re happy to customize and accommodate special requests! Changing the color palette, font and paper is gratis! For some designs, you can also change the printing technique too! If your design request requires significant alteration of the existing design, an additional fee may apply. We’ll review your special request and provide you with an estimate for your approval before creating your proof if that is the case.
        </p>
        <p class="faq-question" id="question6">
          Can I add items to the ready-made invitation suites and papergoods in your shop?
        </p>
        <p class = "faq-answer">
          Absolutely! We want your papergoods to be as unique as your event. If you’d like to add items to match the papergoods you’ve ordered but don’t see a matching item in our shop, please let us know in the “special request”. Some items we’ve designed for other clients include menus, placecards, maps, welcome bags (&amp; packaging for items that go inside them!), itineraries, table numbers, escort cards, favors, bunting, photo booth backdrop, etc. etc. etc…
        </p>
        <p class="faq-question" id="question7">
          When will my order be shipped?
        </p>
        <p class = "faq-answer">
          Items ordered from our shop that do not require personalization will ship within 3-5 business days. Items ordered from our shop that require personalization will ship within 1-2 weeks of proof approval. 
        </p>
        <p class="faq-question" id="question8">
          I’m in a rush, can I still order invites?
        </p>
        <p class = "faq-answer">
          Yes! Don’t fret! If you’re in a time crunch, our ready-made collections in our shop are a great option for you! The typical turnaround time for invitations ordered from our shop is 2-4 weeks from purchase to delivery (1-2 weeks after proof approval). If you’ve got a super time crunch on your hands, please let us know and we’ll do our best to accommodate!
        </p>
        <p class="faq-question" id="question9">
          Can I add a gift note or gift wrap to my order?
        </p>
        <p class = "faq-answer">
          Of course! We’re happy to provide custom gift wrap and a handwritten note — gratis!! Please notify us of this request either via the “special request” option when you place your purchase or send an email to bella@lupaandpepi.com and reference your order number!
        </p>
        <p class="faq-category">
          Custom Design Orders
        </p>
        <p class="faq-question" id="question10">
          How does the custom design process work?
        </p>
        <p class = "faq-answer">
          The custom design process starts with a consultation meeting. We want to get to know you!! What you love, what your favorite color is, what you do in your spare time, what your favorite candy is (ours is Swedish fish!). Feel free to share any inspiration or a pinboard that you’ve complied to show us aesthetic elements that you definitely do (or do not!) want included in your custom design. If you're in Southern California we can meet in person, otherwise we can schedule a phone or FaceTime/Skype chat!
        </p>
        <p class="faq-question" id="question11">
          I’ve had my initial consultation meeting with Lupa &amp; Pepi. What’s next?
        </p>
        <p class = "faq-answer">
          After your initial design consultation, we’ll compile and email an estimate that includes printing and custom design fees based upon what we discussed in our meeting. Before design work begins, we require a signed estimate and 50% deposit on the design fee. The balance of the design fee along with printing, production and shipping costs is due upon completion of the design process.
        </p>
        <p class="faq-question" id="question12">
          Will I receive a proof?
        </p>
        <p class = "faq-answer">
          Yes! Up to 3 proofs are included in the custom design process!! Within 2 weeks after our initial consultation meeting and receipt of a signed estimate and 50% design fee deposit, your first set of digital proofs will arrive in your inbox! The first proof includes 2-3 layout options! After you have reviewed them, you can provide feedback either via email or we can schedule a call to go over changes which will be incorporated into a revised digital proof. Once everything looks exactly as you would like it to print, you'll send us a signed proof and we'll release your invitation into production! 
        </p>
        <p class="faq-question" id="question13">
          I’ve received the last proof included in the custom design process but I would like to make further changes, can I do that?
        </p>
        <p class = "faq-answer">
          If you’d like to make a change on your third custom proof and the error is an oversight on our part, we’ll make the change gratis! If an additional proof is required due to a typo, a $10 fee will be incurred for each additional proof. If the changes are more extensive than updating text, additional design fees will be incurred. Custom orders will not go to print without proof approval.  
        </p>
        <p class="faq-question" id="question14">
          I’ve approved my proof but would like to make another change, is that ok?
        </p>
        <p class = "faq-answer">
          Unfortunately, no. Upon receiving an approved proof, your order is released into print production. Please review your proof very carefully before approving it. 
        </p>
        <p class="faq-question" id="question15">
          When will my custom design ship?
        </p>
        <p class = "faq-answer">
          Custom items usually ship between 6-8 weeks after our initial consultation meeting depending upon how quickly we receive feedback from you on each proof. 
        </p>
        <p class="faq-question" id="question16">
          I’d like to collaborate with Lupa &amp; Pepi on a custom design but have a limited timeframe. Can we still make this happen?
        </p>
        <p class = "faq-answer">
          If you’re in a hurry, we’re happy to accommodate a rush request! Before starting a rush custom design, an additional fee of up to 25% plus a timeframe must be agreed upon. 
        </p>
        <p class="faq-question" id="question17">
          Where’s Lupa &amp; Pepi’s studio located? Can we meet in person?
        </p>
        <p class = "faq-answer">
          Definitely! If you’re in Southern California we can certainly arrange to meet to discuss design, paper, printing techniques and review print samples. If you’re not a SoCal resident, don’t fret! We can schedule a face-to-face chat via FaceTime or Skype!
        </p>
        <p class="faq-category">
          Wedding Invitation Etiquette
        </p>
        <p class="faq-question" id="question18">
          When should I send save the dates?
        </p>
        <p class = "faq-answer">
          Save the dates typically are sent 3-4 months before the wedding date. However, if most or all of your guest will be traveling to attend your nuptials, the more notice you can give them the better! 
        </p>
        <p class="faq-question" id="question19">
          What information should I include on my save the date?
        </p>
        <p class = "faq-answer">
          No matter the format of your save the date, it’s important to include the pertinent info. The names of the couple getting married and date of the wedding are most important to include. While you don’t have to name the exact venue, it’s helpful to mention the city that your nuptials will be in. It is also very helpful to have your wedding website URL included too!
        </p>
        <p class="faq-question" id="question20">
          When should I send my wedding invitations?
        </p>
        <p class = "faq-answer">
          Wedding invitations should be sent 6-8 weeks before the wedding date with an R.S.V.P. deadline approximately 2-3 weeks before the event. 
        </p>
        <p class="faq-question" id="question21">
          What information should I include on my wedding invitation?
        </p>
        <p class = "faq-answer">
          Wedding invitations should include the full name of the couple as well as that of the hosts (if they are different) as well as the place, time and attire (optional).  
        </p>
        <p class="faq-question" id="question22">
          How many invitations should I order?
        </p>
        <p class = "faq-answer">
          We recommend ordering enough invitations for your guest list plus approximately 25% extra. Most couples (especially mothers of the bride and groom!) like to keep a few as keepsakes. Also, it’s good to have a few extras on hand in case you need to resend an invitation. Keep in mind that your total number of guests does not necessarily equate to the total number of invitations that you’ll need — couples and families will add multiple people to your guest list however they will only need 1 invitation per household. 
        </p>
        <p class="faq-question" id="question23">
          What is the proper way to address the envelopes for my wedding invitations?
        </p>
        <p class = "faq-answer">
          Words like “Street” and “Apartment” should be spelled out as well as the city, state and house numbers smaller than 20. “Mr.” and “Mrs.” however should stay abbreviated! If a woman keeps her maiden name, the names should be written out in alphabetical order. Unmarried couples who live together should have their names written on two lines. If the wife is a doctor, her full name comes first (e.g. “Doctor Samantha and Mr. James Smith”). If the husband is a doctor then the titles should read “Doctor and Mrs.” however if both in the couple are doctors then the envelope should read “Drs. Samantha and James Smith”. A single gal should be addressed as “Ms.” — unless she’s a doctor of course! If she’s under 21, she should be addressed as “Miss”. 
        </p>
        <p class="faq-question" id="question24">
          How much postage will my invitation suites need?
        </p>
        <p class = "faq-answer">
          We strongly encourage our clients to take one finished, assembled invitation suite to the post office to be weighed (it would stink to have invitations returned to you due to insufficient postage!). After finding out how much postage each invitation requires, a lot of couples like to pick out postage that fits the aesthetic and/or theme of their wedding. USPS.com has a pretty good selection. When you’re purchasing postage, don’t forget to purchase postage to your R.S.V.P. envelopes too! And if you want to get really fancy with your postage, you can have vintage stamps curated specifically for your wedding suite! 
        </p>
        <p class="faq-category">
          Printing
        </p>
        <p class="faq-question" id="question25">
          What type of printing options do you offer?
        </p>
        <p class = "faq-answer">
          We offer flat printing, letterpress, foil stamping, screen printing and letterpress. Printing fees are based on the quantity, number of ink colors and any special details you choose to add. We are more than happy to provide a custom quote based on your specific details. Please fill out our custom design form and we’ll get a quote started for you!
        </p>
        <p class="faq-question" id="question26">
          Do you print return addresses and/or mailing addresses on envelopes?
        </p>
        <p class = "faq-answer">
          Yes! We can digitally print the return address and/or mailing addresses for you! Simply provide us with an XLS with each of the following in a separate column: name, address line 1, address line 2, city, state, zip code. 
        </p>
        <p class="faq-question" id="question27">
          Do you offer calligraphy?
        </p>
        <p class = "faq-answer">
          Yes! We love calligraphy and offer many styles. Please contact us at bella@lupaandpepi.com for some samples and a quote!
        </p>
        <p class="faq-category">
          File Requirements
        </p>
        <p class="faq-question" id="question28">
          What type of file do you require for photos?
        </p>
        <p class = "faq-answer">
          We prefer hi-res photos that are larger than 500kb. We accept JPG, PNG and GIF files.
        </p>
        <p class="faq-question" id="question29">
          How should I set up my mailing address file?
        </p>
        <p class = "faq-answer">
          Please set up your mailing address XLS file with each of the following in a separate column: name, address line 1, address line 2, city, state, zip code.
        </p>
        <p class="faq-question" id="question30">
          How should I set up my escort card file?
        </p>
        <p class = "faq-answer">
          Please set up your escort card XLS file with the table name or number at the top of each column and the names of the people seated at that table below. 
        </p>
        <p class="faq-question" id="question31">
          How should I set up my table number file?
        </p>
        <p class = "faq-answer">
          Please provide a word or text document with a list of the table names or numbers exactly as you would like them to appear. 
        </p>
        <p class="faq-category">
          Payment
        </p>
        <p class="faq-question" id="question32">
          What type of credit cards do you accept?
        </p>
        <p class = "faq-answer">
          Orders placed in our online shop can be purchased with a major credit card (e.g. Visa, Master Card, American Express, Discover, etc.).
        </p>
        <p class="faq-question" id="question33">
          How do you process payment for a custom order?
        </p>
        <p class = "faq-answer">
          Unfortunately we do not accept major credit cards for custom design orders at this time. We can, however, send a link to pay electronically or you can send a check via snail mail.
        </p>
        <p class="faq-question" id="question34">
          Do you charge sales tax?
        </p>
        <p class = "faq-answer">
          Lupa &amp; Pepi is located in California. If we’re shipping your order within California, we are required to charge sales tax. 
        </p>
        <p class="faq-category">
          Shipping
        </p>
        <p class="faq-question" id="question35">
          What will shipping cost?
        </p>
        <p class = "faq-answer">
          Shipping is based upon your location and weight of your order. If you’re ordering from our shop, shipping will be calculated upon check out. For custom orders, shipping will be included in your estimate.
        </p>
        <p class="faq-question" id="question36">
          How quickly will my order ship? 
        </p>
        <p class = "faq-answer">
          Items ordered from our shop that do not require personalization will ship within 3-5 business days. Items ordered from our shop that require personalization will ship within 1-2 weeks of proof approval. Custom items will ship within 6-8 weeks after our initial consultation meeting.
        </p>
        <p class="faq-question" id="question37">
          How long will it take to receive my order?
        </p>
        <p class = "faq-answer">
          It depends upon the shipping method that you select during check out. If you would like to receive your order by a specific date, please contact us at bella@lupaandpepi.com — we’ll do our best to accommodate your request!
        </p>
        <p class="faq-question" id="question38">
          Do you ship to P.O. Boxes?
        </p>
        <p class = "faq-answer">
          We do not ship to P.O. boxes at this time.
        </p>
        <p class="faq-question" id="question39">
          Do you ship internationally?
        </p>
        <p class = "faq-answer">
          Si!
        </p>
        <p class="faq-category">
          Cancellations, Returns &amp; Exchanges
        </p>
        <p class="faq-question" id="question40">
          I made a mistake when placing my order in your online shop… help!
        </p>
        <p class = "faq-answer">
          Please contact us immediately at bella@lupaandpepi.com. Reference your order number and let us know what needs to happen in order to correct your order. 
        </p>
        <p class="faq-question" id="question41">
          I need to cancel my order, can I do that?
        </p>
        <p class = "faq-answer">
          Please contact us immediately at bella@lupaandpepi.com. If we have not yet started designing your order, we will cancel it and refund your credit card in full. If we’ve already provided a proof for a custom order, a $50 cancellation fee will apply. We are unfortunately unable to cancel an order after proof approval.
        </p>
        <p class="faq-question" id="question42">
          What is your return policy? 
        </p>
        <p class = "faq-answer">
          If for any reason you are dissatisfied, please contact us immediately at bella@lupaandpepi.com. Non-personalized items may be refunded or exchanged within 14 days of purchase. Personalized and custom items, if there is a mistake on our end, will be replaced free of charge! To complete your return, please send it back to us with a receipt and reason for return. A refund in the amount of the price of the item will be credited upon our receipt of the item.
        </p>
      </div>
    </div>
  </div>

  <div class="span4">
       {% include 'sidebar' %}
  </div>
</div>
