  $hd-cart-x: 74px;
  $hd-cart-y: 0px;
  $hd-cart-offset-x: -74px;
  $hd-cart-offset-y: 0px;
  $hd-cart-width: 72px;
  $hd-cart-height: 72px;
  $hd-cart-total-width: 294px;
  $hd-cart-total-height: 220px;
  $hd-cart-image: 'hd-icons.png';
  $hd-cart: 74px 0px -74px 0px 72px 72px 294px 220px 'hd-icons.png';
  $hd-email-x: 0px;
  $hd-email-y: 148px;
  $hd-email-offset-x: 0px;
  $hd-email-offset-y: -148px;
  $hd-email-width: 72px;
  $hd-email-height: 72px;
  $hd-email-total-width: 294px;
  $hd-email-total-height: 220px;
  $hd-email-image: 'hd-icons.png';
  $hd-email: 0px 148px 0px -148px 72px 72px 294px 220px 'hd-icons.png';
  $hd-facebook-hover-x: 0px;
  $hd-facebook-hover-y: 74px;
  $hd-facebook-hover-offset-x: 0px;
  $hd-facebook-hover-offset-y: -74px;
  $hd-facebook-hover-width: 72px;
  $hd-facebook-hover-height: 72px;
  $hd-facebook-hover-total-width: 294px;
  $hd-facebook-hover-total-height: 220px;
  $hd-facebook-hover-image: 'hd-icons.png';
  $hd-facebook-hover: 0px 74px 0px -74px 72px 72px 294px 220px 'hd-icons.png';
  $hd-facebook-x: 74px;
  $hd-facebook-y: 74px;
  $hd-facebook-offset-x: -74px;
  $hd-facebook-offset-y: -74px;
  $hd-facebook-width: 72px;
  $hd-facebook-height: 72px;
  $hd-facebook-total-width: 294px;
  $hd-facebook-total-height: 220px;
  $hd-facebook-image: 'hd-icons.png';
  $hd-facebook: 74px 74px -74px -74px 72px 72px 294px 220px 'hd-icons.png';
  $hd-instagram-hover-x: 148px;
  $hd-instagram-hover-y: 0px;
  $hd-instagram-hover-offset-x: -148px;
  $hd-instagram-hover-offset-y: 0px;
  $hd-instagram-hover-width: 72px;
  $hd-instagram-hover-height: 72px;
  $hd-instagram-hover-total-width: 294px;
  $hd-instagram-hover-total-height: 220px;
  $hd-instagram-hover-image: 'hd-icons.png';
  $hd-instagram-hover: 148px 0px -148px 0px 72px 72px 294px 220px 'hd-icons.png';
  $hd-instagram-x: 148px;
  $hd-instagram-y: 74px;
  $hd-instagram-offset-x: -148px;
  $hd-instagram-offset-y: -74px;
  $hd-instagram-width: 72px;
  $hd-instagram-height: 72px;
  $hd-instagram-total-width: 294px;
  $hd-instagram-total-height: 220px;
  $hd-instagram-image: 'hd-icons.png';
  $hd-instagram: 148px 74px -148px -74px 72px 72px 294px 220px 'hd-icons.png';
  $hd-pinterest-hover-x: 0px;
  $hd-pinterest-hover-y: 0px;
  $hd-pinterest-hover-offset-x: 0px;
  $hd-pinterest-hover-offset-y: 0px;
  $hd-pinterest-hover-width: 72px;
  $hd-pinterest-hover-height: 72px;
  $hd-pinterest-hover-total-width: 294px;
  $hd-pinterest-hover-total-height: 220px;
  $hd-pinterest-hover-image: 'hd-icons.png';
  $hd-pinterest-hover: 0px 0px 0px 0px 72px 72px 294px 220px 'hd-icons.png';
  $hd-pinterest-x: 74px;
  $hd-pinterest-y: 148px;
  $hd-pinterest-offset-x: -74px;
  $hd-pinterest-offset-y: -148px;
  $hd-pinterest-width: 72px;
  $hd-pinterest-height: 72px;
  $hd-pinterest-total-width: 294px;
  $hd-pinterest-total-height: 220px;
  $hd-pinterest-image: 'hd-icons.png';
  $hd-pinterest: 74px 148px -74px -148px 72px 72px 294px 220px 'hd-icons.png';
  $hd-rss-hover-x: 148px;
  $hd-rss-hover-y: 148px;
  $hd-rss-hover-offset-x: -148px;
  $hd-rss-hover-offset-y: -148px;
  $hd-rss-hover-width: 72px;
  $hd-rss-hover-height: 72px;
  $hd-rss-hover-total-width: 294px;
  $hd-rss-hover-total-height: 220px;
  $hd-rss-hover-image: 'hd-icons.png';
  $hd-rss-hover: 148px 148px -148px -148px 72px 72px 294px 220px 'hd-icons.png';
  $hd-rss-x: 222px;
  $hd-rss-y: 0px;
  $hd-rss-offset-x: -222px;
  $hd-rss-offset-y: 0px;
  $hd-rss-width: 72px;
  $hd-rss-height: 72px;
  $hd-rss-total-width: 294px;
  $hd-rss-total-height: 220px;
  $hd-rss-image: 'hd-icons.png';
  $hd-rss: 222px 0px -222px 0px 72px 72px 294px 220px 'hd-icons.png';
  $hd-twitter-hover-x: 222px;
  $hd-twitter-hover-y: 74px;
  $hd-twitter-hover-offset-x: -222px;
  $hd-twitter-hover-offset-y: -74px;
  $hd-twitter-hover-width: 72px;
  $hd-twitter-hover-height: 72px;
  $hd-twitter-hover-total-width: 294px;
  $hd-twitter-hover-total-height: 220px;
  $hd-twitter-hover-image: 'hd-icons.png';
  $hd-twitter-hover: 222px 74px -222px -74px 72px 72px 294px 220px 'hd-icons.png';
  $hd-twitter-x: 222px;
  $hd-twitter-y: 148px;
  $hd-twitter-offset-x: -222px;
  $hd-twitter-offset-y: -148px;
  $hd-twitter-width: 72px;
  $hd-twitter-height: 72px;
  $hd-twitter-total-width: 294px;
  $hd-twitter-total-height: 220px;
  $hd-twitter-image: 'hd-icons.png';
  $hd-twitter: 222px 148px -222px -148px 72px 72px 294px 220px 'hd-icons.png';

