@import "_sprite-icons-hd.scss";

$cart-x: 37px;
$cart-y: 0px;
$cart-offset-x: -37px;
$cart-offset-y: 0px;
$cart-width: 36px;
$cart-height: 36px;
$cart-total-width: 147px;
$cart-total-height: 110px;
$cart-image: 'ld-icons.png';
$cart-hd: $hd-cart;
$cart: 37px 0px -37px 0px 36px 36px 147px 110px 'ld-icons.png' $hd-cart;
$email-x: 0px;
$email-y: 74px;
$email-offset-x: 0px;
$email-offset-y: -74px;
$email-width: 36px;
$email-height: 36px;
$email-total-width: 147px;
$email-total-height: 110px;
$email-image: 'ld-icons.png';
$email-hd: $hd-email;
$email: 0px 74px 0px -74px 36px 36px 147px 110px 'ld-icons.png' $hd-email;
$facebook-hover-x: 0px;
$facebook-hover-y: 37px;
$facebook-hover-offset-x: 0px;
$facebook-hover-offset-y: -37px;
$facebook-hover-width: 36px;
$facebook-hover-height: 36px;
$facebook-hover-total-width: 147px;
$facebook-hover-total-height: 110px;
$facebook-hover-image: 'ld-icons.png';
$facebook-hover-hd: $hd-facebook-hover;
$facebook-hover: 0px 37px 0px -37px 36px 36px 147px 110px 'ld-icons.png' $hd-facebook-hover;
$facebook-x: 37px;
$facebook-y: 37px;
$facebook-offset-x: -37px;
$facebook-offset-y: -37px;
$facebook-width: 36px;
$facebook-height: 36px;
$facebook-total-width: 147px;
$facebook-total-height: 110px;
$facebook-image: 'ld-icons.png';
$facebook-hd: $hd-facebook;
$facebook: 37px 37px -37px -37px 36px 36px 147px 110px 'ld-icons.png' $hd-facebook;
$instagram-hover-x: 74px;
$instagram-hover-y: 0px;
$instagram-hover-offset-x: -74px;
$instagram-hover-offset-y: 0px;
$instagram-hover-width: 36px;
$instagram-hover-height: 36px;
$instagram-hover-total-width: 147px;
$instagram-hover-total-height: 110px;
$instagram-hover-image: 'ld-icons.png';
$instagram-hover-hd: $hd-instagram-hover;
$instagram-hover: 74px 0px -74px 0px 36px 36px 147px 110px 'ld-icons.png' $hd-instagram-hover;
$instagram-x: 74px;
$instagram-y: 37px;
$instagram-offset-x: -74px;
$instagram-offset-y: -37px;
$instagram-width: 36px;
$instagram-height: 36px;
$instagram-total-width: 147px;
$instagram-total-height: 110px;
$instagram-image: 'ld-icons.png';
$instagram-hd: $hd-instagram;
$instagram: 74px 37px -74px -37px 36px 36px 147px 110px 'ld-icons.png' $hd-instagram;
$pinterest-hover-x: 0px;
$pinterest-hover-y: 0px;
$pinterest-hover-offset-x: 0px;
$pinterest-hover-offset-y: 0px;
$pinterest-hover-width: 36px;
$pinterest-hover-height: 36px;
$pinterest-hover-total-width: 147px;
$pinterest-hover-total-height: 110px;
$pinterest-hover-image: 'ld-icons.png';
$pinterest-hover-hd: $hd-pinterest-hover;
$pinterest-hover: 0px 0px 0px 0px 36px 36px 147px 110px 'ld-icons.png' $hd-pinterest-hover;
$pinterest-x: 37px;
$pinterest-y: 74px;
$pinterest-offset-x: -37px;
$pinterest-offset-y: -74px;
$pinterest-width: 36px;
$pinterest-height: 36px;
$pinterest-total-width: 147px;
$pinterest-total-height: 110px;
$pinterest-image: 'ld-icons.png';
$pinterest-hd: $hd-pinterest;
$pinterest: 37px 74px -37px -74px 36px 36px 147px 110px 'ld-icons.png' $hd-pinterest;
$rss-hover-x: 74px;
$rss-hover-y: 74px;
$rss-hover-offset-x: -74px;
$rss-hover-offset-y: -74px;
$rss-hover-width: 36px;
$rss-hover-height: 36px;
$rss-hover-total-width: 147px;
$rss-hover-total-height: 110px;
$rss-hover-image: 'ld-icons.png';
$rss-hover-hd: $hd-rss-hover;
$rss-hover: 74px 74px -74px -74px 36px 36px 147px 110px 'ld-icons.png' $hd-rss-hover;
$rss-x: 111px;
$rss-y: 0px;
$rss-offset-x: -111px;
$rss-offset-y: 0px;
$rss-width: 36px;
$rss-height: 36px;
$rss-total-width: 147px;
$rss-total-height: 110px;
$rss-image: 'ld-icons.png';
$rss-hd: $hd-rss;
$rss: 111px 0px -111px 0px 36px 36px 147px 110px 'ld-icons.png' $hd-rss;
$twitter-hover-x: 111px;
$twitter-hover-y: 37px;
$twitter-hover-offset-x: -111px;
$twitter-hover-offset-y: -37px;
$twitter-hover-width: 36px;
$twitter-hover-height: 36px;
$twitter-hover-total-width: 147px;
$twitter-hover-total-height: 110px;
$twitter-hover-image: 'ld-icons.png';
$twitter-hover-hd: $hd-twitter-hover;
$twitter-hover: 111px 37px -111px -37px 36px 36px 147px 110px 'ld-icons.png' $hd-twitter-hover;
$twitter-x: 111px;
$twitter-y: 74px;
$twitter-offset-x: -111px;
$twitter-offset-y: -74px;
$twitter-width: 36px;
$twitter-height: 36px;
$twitter-total-width: 147px;
$twitter-total-height: 110px;
$twitter-image: 'ld-icons.png';
$twitter-hd: $hd-twitter;
$twitter: 111px 74px -111px -74px 36px 36px 147px 110px 'ld-icons.png' $hd-twitter;

